.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
tsconfig.json
tslint.json
.github/**
node_modules/**
src/**
**/*.map
.git*
CHANGELOG.md
webpack.config.js
yarn.lock
yarn-error.log
*.vsix
.opensource/
stuff/
images/
functions/
firebase.json
.firebaserc
stats.json
.firebase/