:root {
  --shell-output-foreground: #aaaaaa;
  --shell-output-background: #1b1b1b;
}

.height-100 {
  height: 100% !important;
}

.height-almost-100 {
  height: calc(100% - 30px) !important;
}

.width-100 {
  width: 100% !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.display-none {
  display: none;
}

* {
  user-select: none;
}

html,
body {
  height: 100%;
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
}

body > .super-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover {
  color: var(--vscode-textLink-activeForeground);
  opacity: 0.9;
}

.button,
.button[disabled] {
  background-color: var(--vscode-button-background);
  border-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
}

.button:not([disabled]):hover {
  background-color: var(--vscode-button-hoverBackground);
  border-color: var(--vscode-button-hoverBackground);
  color: var(--vscode-button-foreground);
}

.tabs,
.label,
.switch[type='checkbox'] + label,
input[type='checkbox'].is-checkradio + label,
.button,
.select select {
  font-size: 0.9rem;
}

.tabs {
  position: sticky;
  z-index: 10;
  top: 0;
}

.tabs ul {
  border-bottom-color: var(--vscode-editorGroupHeader-tabsBackground);
}

.tabs ul li + li {
  border-left: 1px solid var(--vscode-editor-background);
}

.tabs .icon {
  font-size: 1.2rem;
}

.tabs li:not(.is-active) a {
  color: var(--vscode-foreground);
  background-color: var(--vscode-editorWidget-background);
  border-bottom-color: var(--vscode-editorGroupHeader-tabsBackground);
}

.tabs li.is-active a {
  color: var(--vscode-tab-activeForeground);
  background-color: var(--vscode-tab-activeBackground);
  border-bottom-color: var(--vscode-editor-background);
}

.tabs li:not(.is-active) a:hover {
  color: var(--vscode-tab-activeForeground);
}

.tab-content {
  display: none;
  padding-left: 0.6rem;

  /* TODO: fix this */
  height: 90%;
}

.tab-content.is-active {
  display: block;
}

.switch[type='checkbox'].is-outlined:checked + label::before {
  border-color: var(--vscode-button-background);
}

.switch[type='checkbox'].is-outlined:checked + label::after {
  background: var(--vscode-button-background);
}

input[type='checkbox'].is-checkradio + label::before,
input[type='checkbox'].is-checkradio + label::after {
  border-color: var(--vscode-foreground);
}

input[type='checkbox'].is-checkradio:checked + label::before,
input[type='checkbox'].is-checkradio:checked + label::after {
  border-color: var(--vscode-button-background);
}

input[type='checkbox'].is-checkradio:not(:checked):hover + label::before {
  border-color: var(--vscode-foreground) !important;
}

input[type='checkbox'].is-checkradio:checked:hover + label::before {
  border-color: var(--vscode-button-background) !important;
}

input[type='checkbox'].is-checkradio + label {
  color: var(--vscode-foreground);
}

input[type='checkbox'].is-checkradio + label:hover {
  color: var(--vscode-tab-activeForeground);
}

.tabs,
.tabs:not(:last-child) {
  margin-bottom: 0.75rem;
}

.box {
  padding: 1rem;
  box-shadow: none;
}

.column.controls {
  flex: none;
}

.column.controls .box {
  background-color: var(--vscode-editorWidget-background);
  /* box-shadow: inset 0px 0px 0px 1px var(--vscode-editorWidget-border); */
}

.box:not(:last-child) {
  margin-bottom: 1.2rem;
}

.columns.bottom {
  height: 95%;
}

.tabs a,
label.checkbox {
  color: var(--vscode-foreground);
}

.controls-box-label {
  color: var(--vscode-foreground);
  margin-top: -0.5em;
  font-weight: initial;
}

.running-status::after {
  content: 'stopped';
  font-family: monospace;
}

body.running .running-status::after {
  content: 'running';
}

body.stopping .running-status::after {
  content: 'stopping';
}

label.checkbox:hover {
  color: var(--vscode-tab-activeForeground);
}

.shell-output-box {
  height: 100%;
  padding-left: 0;
  user-select: auto;
  border: 1px solid var(--vscode-editorWidget-background);
}

.shell-output-box,
.shell-output-box * {
  user-select: text;
}

.shell-output .item {
  white-space: pre-wrap;
  padding-left: 0.3rem;
  margin-left: 0.2rem;
}

.shell-output .item-stderr {
  box-shadow: -0.2rem 0 0 0 var(--vscode-editorError-foreground);
}

.level {
  margin-bottom: 1rem !important;
}

.top-controls .field.has-addons select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.top-controls .field .button,
.top-controls .field select {
  /* font-size: 0.85rem; */
  color: var(--vscode-foreground);
  background-color: var(--vscode-editorWidget-background);
  border-color: var(--vscode-editorWidget-background);
}

.top-controls .select:not(.is-multiple):not(.is-loading)::after {
  border-color: var(--vscode-button-background);
}

.workspace-selector-field.hidden {
  visibility: hidden;
}

.table.logging-table {
  color: inherit;
  font-size: 0.9rem;
  background-color: inherit;
}

.table.logging-table th,
.table.logging-table td {
  /* border: none; */
  border-color: var(--vscode-list-inactiveSelectionBackground);
  padding: 0.2em 0.4em;
}

.table.logging-table thead th,
.table.logging-table thead td {
  color: inherit;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: var(--vscode-list-hoverBackground) !important;
  /* background-color: var(--vscode-list-inactiveSelectionBackground) !important; */
}

/* .tab-content--https-functions td.log-entry-cell-timestamp,
.tab-content--background-functions td.log-entry-cell-timestamp {
  min-width: 10rem;
}

.tab-content--https-functions td.log-entry-cell-type,
.tab-content--background-functions td.log-entry-cell-type {
  min-width: 7rem;
}

.tab-content--https-functions td.log-entry-cell-level,
.tab-content--background-functions td.log-entry-cell-level {
  min-width: 4rem;
} */

.tab-content--https-functions table tbody tr,
.tab-content--background-functions table tbody tr {
  display: none;
}

.tab-content--https-functions
  table.log-level--user
  tr:not(.unselected).log-level--user,
.tab-content--background-functions
  table.log-level--user
  tr:not(.unselected).log-level--user {
  display: table-row;
}

.tab-content--https-functions
  table.log-level--info
  tr:not(.unselected).log-level--info,
.tab-content--background-functions
  table.log-level--info
  tr:not(.unselected).log-level--info {
  display: table-row;
}

.tab-content--https-functions
  table.log-level--debug
  tr:not(.unselected).log-level--debug,
.tab-content--background-functions
  table.log-level--debug
  tr:not(.unselected).log-level--debug {
  display: table-row;
}

.tab-content--https-functions
  table.log-level--error
  tr:not(.unselected).log-level--error,
.tab-content--background-functions
  table.log-level--error
  tr:not(.unselected).log-level--error {
  display: table-row;
}

.tab-content--https-functions
  table.log-level--system
  tr:not(.unselected).log-level--system,
.tab-content--background-functions
  table.log-level--system
  tr:not(.unselected).log-level--system {
  display: table-row;
}

.tab-content--https-functions tr.log-level--error td.log-entry-cell-level,
.tab-content--background-functions tr.log-level--error td.log-entry-cell-level {
  color: var(--vscode-terminal-ansiRed);
}

.modal:not(.is-active) {
  display: none;
}

.modal .modal-card-head {
  padding: 0.6rem 1rem;
  background-color: var(--vscode-editorWidget-background);
  border-bottom-color: var(--vscode-editorWidget-background);
}

.modal .modal-card-head button.delete {
  background-color: var(--vscode-button-background);
}

.modal .modal-card-head button.delete::before,
.modal .modal-card-head button.delete::after {
  background-color: var(--vscode-button-foreground);
}

.modal .modal-card-title {
  color: var(--vscode-foreground);
}

.modal .modal-card-body,
.modal .modal-card-body pre {
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
}

.modal .modal-card-body pre {
  padding: 0;
}

.dropdown .dropdown-trigger .button {
  color: var(--vscode-foreground);
  background-color: var(--vscode-editorWidget-background);
  border-color: var(--vscode-editorWidget-background);
}

.dropdown .dropdown-trigger .button:not([disabled]):hover {
  color: var(--vscode-tab-activeForeground);
  background-color: inherit;
  border-color: var(--vscode-editorWidget-background);
}

.dropdown .dropdown-menu {
  min-width: 0;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.75);
}

.dropdown .dropdown-content {
  background-color: var(--vscode-editorWidget-background);
}

.dropdown .dropdown-content .dropdown-item {
  font-size: 0.8rem;
  line-height: 1.1;
  padding: 0.3rem 0.4rem;
  color: var(--vscode-foreground);
  background-color: var(--vscode-editorWidget-background);
}

.with-dropdown-arrow::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: ' ';
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
  border-color: var(--vscode-button-background);
  z-index: 4;
  margin-left: 1rem;
}

.shell-output .is-divider {
  /* margin: 1.2rem 0; */
  height: 0;
  border-top-color: var(--vscode-editorWidget-background);
}

.shell-output .is-divider::after {
  border-radius: 4px;
  padding: 0.2rem 0.8rem;
  transform: translateY(-0.9rem);
  color: var(--vscode-foreground);
  background: var(--vscode-editorWidget-background);
}

.modal-prompt-terminate-other-instance .message-header {
  background-color: var(--vscode-terminal-ansiRed);
}

.modal-prompt-terminate-other-instance .message .message-body {
  padding: 0;
}

.modal-prompt-terminate-other-instance .message .card-content {
  color: var(--vscode-foreground);
  background-color: var(--vscode-editorWidget-background);
}

.modal-prompt-terminate-other-instance .message .card-content h4 {
  color: var(--vscode-foreground);
}

.modal-prompt-terminate-other-instance pre {
  /* background-color: #e9e9e9; */
  background-color: var(--vscode-foreground);
  color: var(--vscode-editorWidget-background);
}

.modal-prompt-terminate-other-instance footer,
.modal-prompt-terminate-other-instance footer a {
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
  border-color: var(--vscode-editorWidget-background) !important;
}

.modal-prompt-terminate-other-instance footer .modal-button:hover {
  opacity: 0.8;
  background-color: var(--vscode-foreground);
  color: var(--vscode-editor-background) !important;
}

.modal footer a {
  text-decoration: none !important;
}

.table.logging-table thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--vscode-editorWidget-background);
}

.capitalize {
  text-transform: capitalize;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .tab-content--https-functions td.log-entry-cell-timestamp,
.tab-content--https-functions th.log-entry-header-timestamp,
.tab-content--background-functions td.log-entry-cell-timestamp,
.tab-content--background-functions th.log-entry-header-timestamp {
  min-width: 15%;
}

.tab-content--https-functions td.log-entry-cell-triggerId,
.tab-content--https-functions th.log-entry-header-triggerId,
.tab-content--background-functions td.log-entry-cell-triggerId,
.tab-content--background-functions th.log-entry-header-triggerId {
  min-width: 10%;
}

.tab-content--https-functions td.log-entry-cell-type,
.tab-content--https-functions th.log-entry-header-type,
.tab-content--background-functions td.log-entry-cell-type,
.tab-content--background-functions th.log-entry-header-type {
  min-width: 10%;
}

.tab-content--https-functions td.log-entry-cell-level,
.tab-content--https-functions th.log-entry-header-level,
.tab-content--background-functions td.log-entry-cell-level,
.tab-content--background-functions th.log-entry-header-level {
  min-width: 7%;
} */

.tab-content--https-functions td.log-entry-cell-text,
.tab-content--https-functions th.log-entry-header-text,
.tab-content--background-functions td.log-entry-cell-text,
.tab-content--background-functions th.log-entry-header-text {
  /* min-width: 58%; */
  /* width: 60%; */
  white-space: pre-wrap;
}

.tab-content--https-functions tr.log-type--function-error .log-entry-cell-text,
.tab-content--background-functions
  tr.log-type--function-error
  .log-entry-cell-text {
  color: var(--vscode-terminal-ansiRed);
}

/* .tab-content--hosting td.log-entry-cell-date,
.tab-content--hosting th.log-entry-header-date {
  min-width: 17%;
}

.tab-content--hosting td.log-entry-cell-ip,
.tab-content--hosting th.log-entry-header-ip {
  min-width: 15%;
}

.tab-content--hosting th.log-entry-cell-status,
.tab-content--hosting td.log-entry-header-status {
  min-width: 8%;
}

.tab-content--hosting td.log-entry-cell-method,
.tab-content--hosting th.log-entry-header-method {
  min-width: 10%;
}

.tab-content--hosting td.log-entry-cell-resource,
.tab-content--hosting th.log-entry-header-resource {
  min-width: 50%;
} */

.tabs .has-badge {
  margin-right: 0;
}

.tabs [data-badge].has-badge::after {
  top: 0;
  right: 0;
  font-size: 0.75rem;
  padding: 0 0.25rem;
  min-height: 0.85rem;
  box-shadow: none;
  border-radius: 7px;
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
}

.tabs li.is-active .has-badge[data-badge]::after {
  content: none;
}

.mdi-20px.mdi::before {
  font-size: 20px;
}

hr.dropdown-divider {
  background-color: var(--vscode-list-inactiveSelectionBackground);
}
